<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding machine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/machines}" th:object="${machine}"
      method="post">

    <table border="0" cellpadding="10">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <select th:field="*{type}">
                    <option th:each="type : ${T(pl.transmar.budowa.entities.MachineType).values()}"
                        th:value="${type}" th:text="${type}"></option>
                </select>
            </td>

        </tr>
        <tr>
            <td>Person:</td>
            <td>
                <select th:field="*{person}">
                    <option th:each="person : ${personsList}" th:value="${person.personId}" th:text="${person.lastName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
        </tr>
    </table>
</form>

</body>
</html>