<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Person Manager</title>
</head>
<body>

    <table border="0" cellpadding="10">
        <tr>
            <td>Person ID:</td>
            <td th:text="*{person.personId}">Id</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td th:text="*{person.firstName}">First name</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:text="*{person.lastName}">Last name</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td th:text="*{person.role}">Role</td>
        </tr>
        <tr>
            <td>Hours:</td>
            <td th:text="${sum}">Sum</td>
        </tr>

    </table>
</body>
</html>